*{
  margin: 0;
  padding: 0;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(100, 152, 169);
  padding: 20px;
  z-index: 1;
  border: 2px inset rgb(36, 29, 56);
  border-radius: 40px;
  
}


h1{
  width: 100%;
  margin-left: 60px;
  font-style: oblique;
  text-shadow: 2px 2px #005eff;
  
}
input{
  padding: 5px;
  margin-top: 20px;
  margin-left: 20px;
  border: 2px solid #072251;
  border-radius: 5px;
  font-style: italic;
  
  
 
  
}

body{
  background:rgb(36, 29, 56);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


label{
  
  font-size: medium;
  color: #082d6d;
  text-shadow: 2px 2px #8acae6;
  

}
.close{
  
  cursor: pointer;
  
}
.close-img{

  height: 20px;
 
  margin-left: 90%;
  

  
}

.click{
text-shadow: 2px 2px #FF0000;
      position: absolute;
      top: 50%;
      margin-left: 48%;
      background-color:#0a0a23;
      color: #ffffff;
      border:none; 
      border-radius:10px; 
      padding:15px;
      font-size: 20px;
      border: 1px solid blue;
      
    }

#submit {
  background-color: rgb(39, 10, 88);
  color: rgb(196, 188, 222);
  justify-content: center;
  margin-top: 20px;
  margin-left: 95px;
  padding: 5px;
  border-radius: 50px;
  width: 35%;
  font-size: 15px;
  border-style: inset;
  
  
}

h2{
  
  color: rgb(50, 15, 139);
  margin-top: 15%;
  margin-left: 42%;
  text-shadow: 2px 2px #07404a;
 }