<div id="form"><h1 style="margin-bottom: 50px;">Send Us your complaints</h1>
  <div style="overflow: hidden;">
      <div class="formbox">
          <h5>First Name</h5>
          <input type="text" [(ngModel)]="fname">*
      </div>
      
      <div class="formbox">
          <h5>Email</h5>
          <input type="email" [(ngModel)]="email">*
      </div>
      
      <div class="formbox">
          <h5>Message</h5>
          <textarea [(ngModel)]="message"></textarea>*
      </div><br><br><br><br>
      <div>
      <mat-form-field class="example-full-width" appearance="fill">
        
        <mat-label class="title">Choose your Product</mat-label>
        <input type="text" matInput [(ngModel)]="name" [matAutocomplete]="auto" class="producttext">
        <mat-autocomplete #auto="matAutocomplete"> 
          <mat-option *ngFor="let option of products | filter:name" [value]="option.name" >
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

      

  </div>
  <div class="alert alert-info" *ngIf="errors.length>0">
      <ul >
          <li *ngFor="let x of errors">{{x}}</li>
      </ul>
  </div>


  <div style="margin:30px; "><button class="btn btn-secondary" (click)="submit()">Submit Enquiry</button></div>
</div>