*{
    margin: 0;
    padding: 0;
}
body{
    background: #cee2e8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    
    
    padding: 150px 450px;
    height: 500px;
    
 
}

#countdownnum{
    text-align: center;
    padding: 30px;
    
    color: rgb(68, 26, 120);
    text-shadow: 2px 2px 4px rgb(16, 11, 125);
    font-size: 3rem;

}


img{
    height: 60%;  
    border: 2px solid rgb(237, 73, 54);
    box-shadow: 20px 40px 100px 20px rgb(1, 1, 21);
    background: rgb(27, 19, 6);;
   
}